* {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title {
    color: darkslategrey;
    text-align: center;
    font-size: 70px;
}

h2, h3 {
    color: darkslategray;
    margin-top: 25px;
}

ul, ol {
    list-style-position: inside;
    list-style-type: none;
    margin-bottom: 15px;
    margin-top: 15px;
    text-align: left;
}

.mainImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: 300px;
}